<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/groupiestyle.css">
    <title>Groupie Tracker</title>
</head>

<body>
    <span>Groupie Tracker</span><br>
    
    <div class="search-container">
        <form autocomplete="off" action="/search" method="post">
            <div>
              <input type="text" id="input" name="search" placeholder="Type a name here..." list="option" />
            </div>
            <datalist id="option">
                {{range .Artists}}
                <option value="{{.Name}}">{{.Name}} - artist/band</option>
                <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - First Album</option>
                <option value="{{.CreationDate}}">{{.CreationDate}} - CreationDate</option>
                  {{range .Members}}
                     <option value="{{.}}">{{.}} - Members</option>
                  {{end}}
                  
                {{end}}
                {{range .Local}}
                     <option value="{{.}}">{{.}} - Locations</option>
                  {{end}}
            </datalist>
        </form>
    </div>
    
    <ol class="articles">
        {{ range .SArtists}}      
        <li class="articles__article" style="--animation-order:1">
     
            <a href=/artist/{{.ID}} class="articles__link" >
                <div class="articles__content">
                    <img class="articles__img" src={{.Image}} alt="band">
                    <div class="title">{{.Name}}</div>
                </div>
            </a>
        </li>
        {{end}}
    </ol>
    <script src="/js/script.js"></script>
</body>

</html>